ProfilesWebApp-jsf/src/conf/xml-resources/web-service-references/ProfilesWS/wsdl/localhost_8080/ProfilesWSService/ProfilesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="getProfile" type="tns:getProfile"/>

<xs:element name="getProfileResponse" type="tns:getProfileResponse"/>

<xs:complexType name="getProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProfileResponse">
<xs:sequence>
<xs:element name="return" type="tns:profileDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profileDTO">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="facebookAccount" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="instagramAccount" type="xs:string" minOccurs="0"/>
<xs:element name="linkedinAccount" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="photo" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>